.editor-container{
    height: 100%;
    width: 100%;
    margin-inline: 15px;
}
.editor-section{
    height: 100%;
}
.editor-tab{
    background-color: #f8f9fa;
    height: 86vh;
    display: flex;
    justify-content: center;
}
.editor-tab-menu{
    background-color: blue;
    height: 5vh;
}
.editor-tab-menu-item{
    background-color: rgb(218, 218, 206);
    width: 25vw;
}

.screen-view{
    border: 1px solid black;
    border-radius: 8px;
    height: 80vh;
    /* margin: 2vh; */
}

.navbar-editor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.editor-tabs input[type="radio"] {
  display: none; /* hide only inside .editor-tabs */
}

.editor-tab-menu-item {
  padding: 8px 16px;
  display: inline-block;
  border: 1px solid #aaa;
  width: 25vw;
  cursor: pointer;
  /* margin-right: 1px; */
  border-radius: 6px;
  background: white;
  transition: background 0.2s;
}

/* Only style the label next to the checked input */
.editor-tabs input[type="radio"]:checked + .editor-tab-menu-item {
  background: red;
  color: white;
}